
.videos-container{
    /* display:grid;
    grid-template-columns: repeat(5,1fr); 5 qual col with same width*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dim{
    background-color: rgba(0, 0, 0, 0.5);
}

.video-card-cont{
    width:14rem;
    height:15rem;
    margin: 8px;
    
    img{
        width: 14rem;
        border-radius:8px ;
    }

    ul{
        padding-left:5px;
        margin-top: 2px;
        li{
            list-style-type:none; 
            font-family: sans-serif;   
         } 
    } 
    ul li:nth-last-child(1), ul li:nth-last-child(2) {
        color: rgb(123, 127, 128);
        font-size: 0.8rem;
      }  
}