.flex{
    display: flex;
}

.flex-row-direction{
    flex-direction: row;
}

.flex-column-direction{
    flex-direction: column;
}

ul{
    padding-left: 5px;
}
li{
    list-style-type:none;    
 }
 
 .margin-top-50{
    margin-top: 50px;
 }



